{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindAttributes": ["myClassList"],
  "singleQuote": true,
  "semi": true,
  "tailwindConfig": "./tailwind.config.js",
  "tailwindStylesheet": "./src/styles/global.css"
}
